@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff2) format(woff2);
  src: url(../fonts/Roboto-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2) format(woff2);
  src: url(../fonts/Roboto-Regular.woff) format(woff);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

/* header */

.header {
  background-color: #3f2aff;
  min-height: 80px;
}

.header__section {
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header__ul {
  display: flex;
}

.header__ul {
  gap: 56px;
}

.header__list {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

/* hero */

.hero {
  background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    #555681 0%,
    #212133 100%
  );
  min-height: 620px;
}

.hero__wrapper {
  max-height: 620px;
  width: 100%;
  background-image: url(../img/hero_group.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__content {
  padding-left: 0;
  padding-top: 130px;
  padding-bottom: 130px;
}

.hero__content-h1 {
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%; /* 60px */
  color: #fff;
}

.hero__content-p {
  max-width: 444px;
  margin-bottom: 61px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
  color: #fff;
}

.hero__content-button {
  padding: 24px 75.5px;
  border-radius: 20px;
  background: #3f2aff;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

/* benefits */

.benefits__top-inside {
  padding-left: 155px;
  justify-content: center;
  align-items: center;
  background-image: url(../img/benefits_main.png);
  background-repeat: no-repeat;
  background-position: 15px  22px;
}


.benefits__top-content {
  flex-direction: column;
  max-width: 585px;
}

.benefits__h2 {
  max-width: 380px;
  margin-bottom: 17px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  color: #2e2b44;
}

.benefits__p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #666;
}

.benefits__container {
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  flex-direction: column;
}

.benefits__top {
  margin-bottom: 23px;
}

/* .benefits__ul {
  gap: 30px;
} */

.benefits__ul-list {
  justify-content: right;
  align-items: center;
  min-height: 80px;
  background-repeat: no-repeat;
  background-position: left 15px center;
}

.benefits__ul-list-p {
  max-width: 240px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  color: #666;
}

.list-1 {
  background-image: url(../img/list-1.svg);
}

.list-2 {
  background-image: url(../img/list-2.svg);
}

.list-3 {
  background-image: url(../img/list-3.svg);
}

/* teacher */

.teacher {
  background-color: #212133;
}

.teacher__container {
  padding-top: 74px;
  padding-bottom: 73px;
  min-height: 576px;
}

.teacher__h2 {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  color: #fff;
}

.teacher__img {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  max-width: 255px;
  min-height: 180px;
}

.teacher__list-content {
  border-radius: 25px;
  padding-top: 26px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.teacher__list-h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  color: #fff;
}

.teacher__list-p {
  max-width: 255px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #85859b;
}

/* .teacher-1 {
  background-image: url(../img/teacher-1.jpg);
}

.teacher-2 {
  background-image: url(../img/teacher-2.jpg);
}

.teacher-3 {
  background-image: url(../img/teacher-3.jpg);
}

.teacher-4 {
  background-image: url(../img/teacher-4.jpg);
} */

/* courses */

.courses__container {
  padding-top: 74px;
  padding-bottom: 80px;
}

.courses__h2 {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%; /* 40px */
  color: #212133;
}

.courses__ul {
  flex-direction: row;
  row-gap: 30px;
}

.courses__list {
  min-height: 480px;
}

.courses__list-content {
  position: relative;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 210px;
  padding-bottom: 30px;
  background-color: #edf0f9;
  flex-direction: column;
  align-items: start;
  border-radius: 20px;
}

.courses__list-h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%; /* 27px */
  color: #212133;
}

.courses__list-p {
  max-width: 480px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #666;
  margin-bottom: auto;
}

.courses__list-button {
  padding: 20.5px 59px;
  align-items: center;
  border-radius: 20px;
  background: #3f2aff;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.courses__list-svg {
  position: absolute;
  top: 10px;
  right: 5px;
}

.courses-back1 {
  background-image: url(../img/courses-back1.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.courses-back2 {
  background-image: url(../img/courses-back2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.courses-back3 {
  background-image: url(../img/courses-back3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.courses-back4 {
  background-image: url(../img/courses-back4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.courses_hide {
  display: none;
}

/* footer */

.footer {
  max-height: 80px;
  background-color: #2e2b44;
}

.footer__ul {
  padding-top: 28px;
  padding-bottom: 24px;
  gap: 30px;
  justify-content: center;
}

.footer__bottom {
  max-height: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  width: 100%;
  justify-content: center;
  background-color: #fff;
}

.footer__bottom-span {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2e2b44;
}
