@font-face {
  font-family: "MonoCraft";
  src: url(../fonts/Monocraft/Monocraft.woff) format(woff);
  font-weight: 400;
}

body {
  font-family: "MonoCraft", Arial, Helvetica, sans-serif;
  background-image: url(../img/body-back.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.flex {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  background-color: none;
  background: none;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.h1 {
  position: absolute;
  display: inline;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: max-content;
  white-space: nowrap;

  color: #fff;
  font-size: 60px;

  overflow: hidden;

  animation: typing 7s steps(60, end) forwards, blinking 1.2s infinite;
  border-right: 0.1em solid #fff;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }

  to {
    border-color: #fff;
  }
}
.menuDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: gray;
  border-radius: 15px;
  padding: 40px;
}

.menu__ul {
  flex-direction: column;
  gap: 45px;
}

.menu__list-btn {
  letter-spacing: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  transition: color 0.5s;
}

.menu__list-btn:hover {
  color: #eafc89;
}
